body {
	background-image: url('../../assets/images/walk_woods2.jpg');
}

.headline {
	font-family: 'Roboto Condensed', sans-serif;
	color: #000;
	font-size: 30px;
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #dfc954;
}

.donation-item, .search-item {
	padding-left: 10px;
	margin-bottom: 5px;
	font-family: 'Roboto Condensed', sans-serif;
}

.donation-title {
	font-size: 17px;
}

.donation-subtitle, .search-subtitle {
	font-size: 12px;
}

.search-button {
	margin: 10px 10px;
}

.no-search {
	text-align: center;
	color: lightgray;
	margin: 30px 0;
}

.favorite-icon {
	border: none;
	margin-left: 5px;
	background-color: transparent;
  color: #ff0000 ;
}

/*Link Customizations*/
a:link {
    color: #333333;

}
