body {
	background-image: url('../../assets/images/walk_woods2.jpg');
}

.headline {
	font-family: 'Roboto Condensed', sans-serif;
	color: #000;
	font-size: 28px;
	margin-left: 30px;
	text-align: center;
	width: 600px;
	height: 36px;
	line-height: 36px;
	background-color: #a8a8a8;
	overflow: auto;
}

.donation-item, .search-item {
	margin-left: 30px;
	margin-bottom: 10px;
	width: 600px;
	font-family: 'Roboto Condensed', sans-serif;
}

.donation-title {
	width: 600px;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 5px;
}

.donation-subtitle {
	font-size: 14px;
	margin-left: 10px;
}

.search-subtitle {
	font-size: 14px;
}

.search-button {
	margin: 10px 10px;
	margin-left: 30px;
	height: 30px;
}

.search-button input {
	font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 10px;
  width: 150px;
  height: 30px;
  border: 1px solid #dca50c;
  margin-left: 110px;
}

.search-button input[type=submit] {
	border: 1px solid #ff0000;
	font-weight: bold;
	width: 100px;
	height: 30px;
	margin-left: 5px;
	background: gray;
	font-color: #fff;
}

.no-search {
	text-align: center;
	color: lightgray;
	margin: 30px 0;
}

.favorite-icon {
	border: none;
	margin-left: 5px;
	background-color: transparent;
  color: #ff0000 ;
}

/*Link Customizations*/
a:link {
    color: #333333;
}

a:visited {
    color: #fff;
}
