


/*text */
/*.menu-item {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 36px;

}
*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f6ca50;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #f6ca50;
  opacity: 0.5;  /* 50% transparent */
  padding: 2.5em 1.5em 0;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 40px;
  text-decoration: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #f6ca50;
}

/* Wrapper for item list */
.bm-item-list {
  color: #f2e9bb;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.2);
}