
/* * CSS file for styling main content
 */

.large {
	background-image: url('../../assets/images/girls_homeimage.jpg');
/*	width: 100%;
	height: 720px;*/
}

.large2 {
	background-image: url('../../assets/images/c6duwascoea-joshua-earle.jpg');
/*	width: 100%;
	height: 720px;*/
}

.image-container {
	background-color: clear;	
}

h1 {
	font-size: 60px;
}

/*.title {
	color: #dfc954;
	font-family: 'Roboto Condensed';
	margin-left: 25px;
}*/
