.container {
	margin-left: 40px;
	margin-right: 40px;
	background-color: gray;
	height: 50px;
}

.greeting {
	color: black;
	line-height: 50px;
	font-size: 20px;
	padding: 0 30px;
	font-family: 'Roboto Condensed';
}

.greeting-right {
	color: darkgray;
	line-height: 50px;
	font-size: 15px;
	padding: 0 30px;
	font-family: 'Roboto Condensed';
	float: right;
}


