.member-info {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}

.profile-form {
	font-family: 'Roboto Condensed', sans-serif;
  margin: 20px;
}

.profile-form input {
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 50%;
  border: 2px solid #dfc954;
}

.profile-form input[type=submit] {
		border: 2px solid green;
		font-weight: bold;
}