.profile {
	height: 300px;
	border: 1px solid darkgray;
	position: relative;
}

.my-profile-box{
	height: 200px;
	width:200px;
	border: 3px solid darkgray;
	float: left;	
}

.my-edit-box{
	height: 200px;
	width:200px;
	border: 3px solid darkgray;
	float: right;	
}

