.title {
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	color: #DFC954;
	margin-left: 40px;
	

}

.container-fluid {
	background-color: transparent;
	max-height: 100px;
	margin-left: 40px;
}
