.chart-style {
	position: relative;
	margin-top:100px; 
	height:400px; 
	width:600px;
	/*background-color: #fff;
	opacity: .5;*/
}

.large2 {
	background-image: url('../../assets/images/walk_woods2.jpg');

}